<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h1>{{title}}</h1>
  <h3>Employee</h3>
  <hr />
  <form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
      <label class=" control-label col-md-12" for="First Name">First Name</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="firstName">
      </div>
      <span class="text-danger" *ngIf="employeeForm.hasError('required', 'firstName') && formDir.submitted">
        FirstName is required.
      </span>
    </div>
    <div class="form-group row">
      <label class=" control-label col-md-12" for="Last Name">Last Name</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="lastName">
      </div>
      <span class="text-danger" *ngIf="employeeForm.hasError('required', 'lastName') && formDir.submitted">
        LastName is required.
      </span>
    </div>

    <div class="form-group row">
      <label class=" control-label col-md-12" for="Contact Number">Contact Number</label>
      <div class="col-md-4">
        <input class="form-control" type="number" formControlName="contactNumber">
      </div>
      <span class="text-danger" *ngIf="employeeForm.hasError('required', 'contactNumber') && formDir.submitted">
        Contact Number is required.
      </span>
    </div>
    <div class="form-group row">
      <label class=" control-label col-md-12" for="Address">Address</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="address">
      </div>
      <span class="text-danger" *ngIf="employeeForm.hasError('required', 'address') && formDir.submitted">
        Address is required.
      </span>
    </div>

    <div class="form-group row">
      <label class=" control-label col-md-12" for="Qualification">Qualification</label>
      <div class="col-md-4">
        <input class="form-control" type="text" formControlName="qualification">
      </div>
      <span class="text-danger" *ngIf="employeeForm.hasError('required', 'qualification') && formDir.submitted">
        Qualification is required.
      </span>
    </div>

    <div class="form-group row">
      <label class=" control-label col-md-12" for="Gender">Gender</label>
      <div class="col-md-4">
        <input type="radio" formControlName="gender" value="Male">Male<br />
        <input type="radio" formControlName="gender" value="Female">Female
      </div>
      <span class="text-danger" *ngIf="employeeForm.hasError('required', 'gender') && formDir.submitted">
        Gender is required.
      </span>
    </div>
   
    <div class="form-group row">

      <label class="control-label col-md-12" for="Department">Department</label>

      <div class="col-md-4">

        <select class="form-control" data-val="true" formControlName="department">

          <option value="">--Select Department--</option>

          <option *ngFor="let department of departmentList">

            {{department.depatmentName}}

          </option>

        </select>

      </div>

      <span class="text-danger" *ngIf="employeeForm.hasError('required', 'department') && formDir.submitted">

        department is required

      </span>

    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-default">Save</button>
      <button class="btn" (click)="cancel()">Cancel</button>
    </div>

  </form>
</body>
</html>
